/*Colors*/
$blue: #0682D9;
$black : #090909;
$white : #fff;
$text : #040404;
$cta : #FA8904;
$black2: #323232;
$grey: #969696;
$text-white: #DFDFDF;
$whiteAl: rgba(193, 193, 193, 0.3);
$ctalink: #FF4E00;

//fonts
$font-family: 'PT Sans', sans-serif, 'Glyphicons Halflings';
